TZ =

SECRET_KEY =
HOST = 0.0.0.0
PORT = 8080
DATABASE_NAME = users.db
SESSION_COOKIE_NAME = session

GITHUB_USERNAME =
GITHUB_ACCESS_TOKEN =

ZOHO_CLIENT_ID =
ZOHO_CLIENT_SECRET =

ZOHO_CRM_ZSOID =
ZOHO_CAMPAIGNS_ZSOID =

ZOHO_CAMPAIGNS_LIST_KEY =

ZOHO_CRM_LAYOUT_ID =
ZOHO_CRM_MODULE_LEADS_ID =

ZOHO_CREDS_DEV =
