node_modules
bin
.tmp
.DS_Store*
package-lock.json
.env
*.afdesign
*.db
logs
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
modals
dist
backup model
tmp
.npmrc
data/*/secrets
*_templ.go
.devenv
.devenv.*
users_database.yml
go.sum
