package layouts

import (
	c "github.com/gavink97/gav-ink/internal/components"
	m "github.com/gavink97/gav-ink/internal/middleware"
)

templ preFooter() {
	<pre-footer aria-label="prefooter" id="prefooter" class="content" data-animation-trigger="prefooter">
		<p>
			Let's get in touch
		</p>
	</pre-footer>
}

templ Links() {
	<footer-links aria-label="website links">
		<ol>
			<li>
				<a
					href="/#"
					aria-label="home"
					onclick="
                        window.LenisAnchor('top')
                    "
				>
					@c.StaggerText("Home")
				</a>
			</li>
			<li>
				<a
					href="/#sustainable-grid"
					aria-label="sustainability"
					onclick="
                        window.LenisAnchor('#sustainable-grid')
                    "
				>
					@c.StaggerText("Sustainability")
				</a>
			</li>
			<li>
				<a
					href="/#ux"
					aria-label="ux design"
					onclick="
                        window.LenisAnchor('#ux')
                    "
				>
					@c.StaggerText("Design")
				</a>
			</li>
			<li>
				<a
					href="/#software"
					aria-label="software development"
					onclick="
                        window.LenisAnchor('#software')
                    "
				>
					@c.StaggerText("Software")
				</a>
			</li>
			<li>
				<a
					href="/#webapp"
					aria-label="web app development"
					onclick="
                        window.LenisAnchor('#webapp')
                    "
				>
					@c.StaggerText("Web")
				</a>
			</li>
			<li>
				<a
					href="/#tech"
					aria-label="technology"
					onclick="
                        window.LenisAnchor('#tech')
                    "
				>
					@c.StaggerText("Technology")
				</a>
			</li>
			<li>
				<a
					href="/#story"
					aria-label="studio story"
					onclick="
                        window.LenisAnchor('#story')
                    "
				>
					@c.StaggerText("Studio Story")
				</a>
			</li>
			<li>
				<a
					href="/#projects"
					aria-label="open source projects"
					onclick="
                        window.LenisAnchor('#projects')
                    "
				>
					@c.StaggerText("Open Source")
				</a>
			</li>
			<li>
				<a
					href="/#studies"
					aria-label="our insights"
					onclick="
                        window.LenisAnchor('#studies')
                    "
				>
					@c.StaggerText("Case Studies")
				</a>
			</li>
		</ol>
	</footer-links>
}

templ Socials() {
	<footer-socials aria-label="social media">
		<ol>
			<li>
				<a href="https://github.com/gavink97" aria-label="github">
					@c.RevealLink("GitHub")
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/gavin_kondrath/" aria-label="instagram">
					@c.RevealLink("Instagram")
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/gavin-kondrath/" aria-label="linkedin">
					@c.RevealLink("LinkedIn")
				</a>
			</li>
		</ol>
	</footer-socials>
}

templ Emails() {
	<footer-contact aria-label="contact emails">
		<ol>
			<li>
				<p>General Inquires</p>
				<a href="mailto:hello@gav.ink" aria-label="general inquires email">
					@c.UnderlineText("hello@gav.ink")
				</a>
			</li>
			<li>
				<p>New Business</p>
				<a href="mailto:gavin@gav.ink" aria-label="new business email">
					@c.UnderlineText("gavin@gav.ink")
				</a>
			</li>
		</ol>
	</footer-contact>
}

// add form animations
templ NewLetter() {
	<newsletter aria-label="mailing list">
		<p id="newsletter-title">
			Subscribe to
			<br/>
			our newsletter
		</p>
		@c.SubscribeForm()
	</newsletter>
}

templ Copyright() {
	<footer-copyright>
		<p>© 2025</p>
		<a href="/" aria-label="home">
			@c.UnderlineText("gavink")
		</a>
	</footer-copyright>
}

templ MadeWith() {
	<footer-message>
		<p>
			<span>
				<img src={ c.Image("hot-beverage.avif") } id="coffee" alt="coffee cup" loading="lazy"/>
			</span>99.5% organic coffee 0.5% microplastic
		</p>
	</footer-message>
}

templ Footer() {
	<footer id="footer" aria-label="footer">
		<footer-middle>
			@Links()
			<footer-socials-contact>
				@Socials()
				@Emails()
			</footer-socials-contact>
			@NewLetter()
		</footer-middle>
		<footer-bottom>
			@Copyright()
			// blog link
			@MadeWith()
		</footer-bottom>
	</footer>
}

templ FooterWrapper(footer templ.Component) {
	<section aria-label="footer">
		@preFooter()
		<footer-wrapper data-animation-trigger="footer">
			<footer-position>
				<footer-view>
					@footer
				</footer-view>
			</footer-position>
		</footer-wrapper>
	</section>
	<script src="/public/components/footer.js" type="module" nonce={ m.GetNonce(ctx) } defer></script>
}
