package layouts_nogl

import (
	l "github.com/gavink97/gav-ink/internal/layouts"
	c "github.com/gavink97/gav-ink/internal/components"
)

templ Links() {
	<footer-links aria-label="website links">
		<ol>
			<li>
				<a
					href="/?nogl=true#"
					aria-label="home"
					hx-on:click="
                        const options = {
                            immediate: false,
                            offset: -100
                        }

                        window.lenis.scrollTo(0, options)
                    "
				>
					@c.StaggerText("Home")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#sustainable-grid"
					aria-label="sustainability"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

                        window.lenis.scrollTo('#sustainable-grid', options)
                    "
				>
					@c.StaggerText("Sustainability")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#ux"
					aria-label="ux design"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

                        window.lenis.scrollTo('#ux', options)
                    "
				>
					@c.StaggerText("Design")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#software"
					aria-label="software development"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

			            window.lenis.scrollTo('#software', options)
                    "
				>
					@c.StaggerText("Software")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#webapp"
					aria-label="web app development"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

			            window.lenis.scrollTo('#webapp', options)
                    "
				>
					@c.StaggerText("Web")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#tech"
					aria-label="technology"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

			            window.lenis.scrollTo('#tech', options)
                    "
				>
					@c.StaggerText("Technology")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#story"
					aria-label="studio story"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -90
			            }

			            window.lenis.scrollTo('#story', options)
                    "
				>
					@c.StaggerText("Studio Story")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#projects"
					aria-label="open source projects"
					hx-on:click="
			            const options = {
				            immediate: false,
                            offset: -100
			            }

			            window.lenis.scrollTo('#projects', options)
                    "
				>
					@c.StaggerText("Open Source")
				</a>
			</li>
			<li>
				<a
					href="/?nogl=true#studies"
					aria-label="our insights"
					hx-on:click="
                        const options = {
                            immediate: false,
                            offset: -100
                        }

                        window.lenis.scrollTo('#studies', options)
                    "
				>
					@c.StaggerText("Case Studies")
				</a>
			</li>
		</ol>
	</footer-links>
}

templ Footer() {
	<footer id="footer" aria-label="footer">
		<footer-middle>
			@Links()
			<footer-socials-contact>
				@l.Socials()
				@l.Emails()
			</footer-socials-contact>
			@l.NewLetter()
		</footer-middle>
		<footer-bottom>
			@l.Copyright()
			// blog link
			@l.MadeWith()
		</footer-bottom>
	</footer>
}
