package layouts_nogl

import (
	c "github.com/gavink97/gav-ink/internal/components"
	l "github.com/gavink97/gav-ink/internal/layouts"
	"os"
)

templ Layout(contents templ.Component, title string) {
	@l.Head(title)
	if os.Getenv("env") == "prod" {
		@c.LoadingPage()
	}
	<body hx-ext="preload">
		@Nav()
		<main class="content" aria-label={ title }>
			@contents
		</main>
		@l.FooterWrapper(Footer())
	</body>
}
