package views_nogl

templ About() {
	//<section class="half-section">
	@studioStory()
	@corebeliefs()
	//</section>
}

templ studioStory() {
	<section aria-label="our story" class="p-4 pt-8">
		<h2 id="story" class="section-header">Studio Story</h2>
		<p class="section-paragraph">
			We’re Gav.ink – an independent full service design and development
			studio rooted in Jakarta and Austin, driven by a belief that
			technology should serve humanity and the Earth. We are a remote
			first team building tech solutions at planet scale.
		</p>
	</section>
}

templ corebeliefs() {
	<section aria-label="core beliefs" class="p-4 section-scroll pb-6 pt-0" id="core-beliefs">
		<h2 class="section-subheader">Core Beliefs</h2>
		<p class="section-paragraph">
			Our core beliefs follow the
			<a
				href="https://www.sustainablewebmanifesto.com"
				alt="Sustainable Web Manifesto"
				target="_blank"
			>
				Sustainable Web Manifesto
			</a>
			which you can sign
			<a
				href="https://www.sustainablewebmanifesto.com/#signature"
				alt="Sustainable Web Manifesto Signature page"
				target="_blank"
			>
				here
			</a>
		</p>
		<p class="section-paragraph">
			Clean: The services we provide and services we use will be powered
			by renewable energy.
			<br/>
			Efficient: The products and services we provide will use the least
			amount of energy and material resources possible.
			<br/>
			Open: The products and services we provide will be accessible,
			allow for the open exchange of information, and allow users to
			control their data.
			<br/>
			Honest: The products and services we provide will not mislead or
			exploit users in their design or content.
			<br/>
			Regenerative: The products and services we provide will support an
			economy that nourishes people and planet.
			<br/>
			Resilient: The products and services we provide will function in
			the times and places where people need them most.
		</p>
	</section>
}
