package views_nogl

templ About() {
	<section class="full-section-grid px-16">
		@studioStory()
		@corebeliefs()
	</section>
}

templ studioStory() {
	<section aria-label="our story" class="grid" style="grid-row: 1/3; grid-column: 1/3;" data-animation-trigger="studio">
		<h2 id="story" class="section-header self-end" style="grid-row: 1; grid-column: 1/3;">Studio Story</h2>
		<p class="section-paragraph" style="grid-row: 2/3;">
			We’re Gav.ink – an independent full service design and development
			studio rooted in Jakarta and Austin, driven by a belief that
			technology should serve humanity and the Earth. We are a remote
			first team building tech solutions at planet scale.
		</p>
	</section>
}

templ corebeliefs() {
	<section aria-label="core beliefs" class="section-scroll grid" style="grid-row: 3/6; grid-column: 1/3;" id="core-beliefs">
		<h2 class="section-subheader">Core Beliefs</h2>
		<div>
			Our core beliefs follow the
			<a
				href="https://www.sustainablewebmanifesto.com"
				alt="Sustainable Web Manifesto"
				target="_blank"
			>
				Sustainable Web Manifesto
			</a>
			which you can sign
			<a
				href="https://www.sustainablewebmanifesto.com/#signature"
				alt="Sustainable Web Manifesto Signature page"
				target="_blank"
			>
				here
			</a>
		</div>
		<p class="section-paragraph" style="grid-row: 4/6;">
			Clean: The services we provide and services we use will be powered
			by renewable energy.
			<br/>
			Efficient: The products and services we provide will use the least
			amount of energy and material resources possible.
			<br/>
			Open: The products and services we provide will be accessible,
			allow for the open exchange of information, and allow users to
			control their data.
			<br/>
			Honest: The products and services we provide will not mislead or
			exploit users in their design or content.
			<br/>
			Regenerative: The products and services we provide will support an
			economy that nourishes people and planet.
			<br/>
			Resilient: The products and services we provide will function in
			the times and places where people need them most.
		</p>
	</section>
}
