package views_nogl

import (
	c "github.com/gavink97/gav-ink/internal/components"
	"github.com/gavink97/gav-ink/internal/globals"
)

templ CaseStudies() {
	<section aria-label="our insights" class="p-4">
		<h2 id="studies" class="section-header">Our insights</h2>
		<p class="section-paragraph">
			While each project has its own set of technical/design challenges,
			we believe every obstacle is an opportunity to innovate with
			intention, collaborate with humility, and leave a lighter footprint
			on the planet.
		</p>
		@c.CaseStudiesPanel(globals.Posts, false)
	</section>
}
