package views_nogl

import (
	gh "github.com/gavink97/gav-ink/internal/github"
	m "github.com/gavink97/gav-ink/internal/middleware"
)

templ Index() {
	<span id="scroll-progress" progress=""></span>
	@Hero()
	@sustainability()
	@Services()
	@Tech()
	//@CaseStudies()
	@About()
	@OpenSource([]gh.Repository{})
	<script src="/public/effects/splittext.js" nonce={ m.GetNonce(ctx) } defer></script>
}
