package views_nogl

import c "github.com/gavink97/gav-ink/internal/components"

templ Services() {
	<section aria-label="services" data-animation-trigger="services" class="px-16">
		@spitch()
		@ux()
		@software()
		@webapp()
		@ourProcess()
		@why()
	</section>
}

templ cta(text string) {
	<a
		class="cta-link"
		aria-label="contact us"
		href="/contact"
	>
		@c.UnderlineText(text)
	</a>
}

templ spitch() {
	<section aria-label="our commitment to sustainability" class="full-section-grid">
		<h2 id="services" class="section-header" style="grid-row: 1; align-content: end;">Our Services</h2>
		<h3 class="section-subheader" style="grid-row: 2; grid-column: 1/3;">
			Handcrafted Sustainable Digital Solutions
		</h3>
		<p class="section-paragraph" style="grid-row: 3; align-content: end;">
			At Gavink, we craft bespoke software that
			aligns with your business’ goals while reducing environmental harm. We
			dismiss bloated, one size fits all frameworks in favor of hand rolled,
			made to last tools, built with the Virtual LCA in consideration.
		</p>
		<p class="section-paragraph" style="grid-row: 4; align-content: end;">
			So whether you need a modern web app for
			your startup, a scalable backend service, or an accessibcontentle design, we
			stand committed to building a solution that's environmentally
			conscious.
		</p>
		<div style="grid-row: 5; justify-self: start; grid-column: 1/3;">
			@cta("Let's collaborate towards a sustainable future")
		</div>
	</section>
}

templ ux() {
	<section aria-label="ux design" class="full-section-grid">
		<h2 id="ux" class="section-header">
			UX / UI Design Services
		</h2>
		<h3 class="section-subheader">
			WCAG Compliant Accessible Modern Designs
		</h3>
		<p class="section-paragraph">
			Exceptional user experience isn't just about aesthetics, it's about
			making every user experience exceptional, regardless of the
			adjustments a user needs.
		</p>
		<p class="section-paragraph">
			At Gavink all of our designs are WCAG compliant as a baseline,
			ensuring that everyone can access and interact with our designs
			seemlessly.
		</p>
		<ol class="section-paragraph">
			<li>
				<strong>
					Inclusive by Default
				</strong>:
				WCAG compliant designs that welcome all users.
			</li>
			<li>
				<strong>
					Visual Storytelling
				</strong>:
				Bold, purposeful aesthetics that communicate your mission.
			</li>
			<li>
				<strong>
					Zero Friction
				</strong>:
				We eliminate frustration by designing intuitive user journeys
				grounded in research and data.
			</li>
		</ol>
		@cta("Build Inclusive Experiences, Sustainably")
	</section>
}

templ software() {
	<section aria-label="software development" class="full-section-grid">
		<h2 id="software" class="section-header">
			Software Services
		</h2>
		<h3 class="section-subheader">
			Crafting Efficient, Sustainable & Enduring Solutions
		</h3>
		<p class="section-paragraph">
			At Gavink,  we believe software shouldn't just solve the problems
			we're faced with today; it should be robust enough to expand upon,
			and simple enough for future maintainers to understand, that is
			longevity to us.
		</p>
		<ol class="section-paragraph" style="grid-row: 3/5;">
			<li>
				<strong>
					Open Source First
				</strong>:
				We prioritize open source technologies, fostering transparency
				and community driven innovation.
			</li>
			<li>
				<strong>
					Low to No Dependencies
				</strong>:
				Fewer dependencies means fewer vulnerabilities to patch and
				fewer points of failure.
			</li>
			<li>
				<strong>
					Quality Code
				</strong>:
				Good coding practices ensure robust and readable solutions are
				made, reducing costly rewrites.
			</li>
			<li>
				<strong>
					Efficiency
				</strong>:
				Leaner code translates directly to faster execution, lower
				resource consumption and reduced energy usage, great for your
				wallet and the environment.
			</li>
		</ol>
		@cta("Craft Software That Endures")
	</section>
}

templ webapp() {
	<section aria-label="web app development" class="full-section-grid">
		<h2 id="webapp" class="section-header">
			Web App Services
		</h2>
		<h3 class="section-subheader">
			Lightning Fast Web Apps, Lighter Footprint
		</h3>
		<p class="section-paragraph">
			At Gavink, Our apps deliver exceptional user experiences while
			consuming fewer resources than traditional frameworks, transferring
			less data from server to client, and leave a lighter footprint on
			the planet without compromising on performance.
		</p>
		<ol class="section-paragraph" style="grid-row: 2/4; grid-column: 1;">
			<li>
				<strong>
					Transfer Budget
				</strong>:
				We set strong data transfer budgets that inherently reduce the
				cost of web traffic and GHG emissions per user session.
			</li>
			<li>
				<strong>
					Green Tech Stack
				</strong>:
				Optimized for speed, low energy consumption and scale,
				resulting in cheaper server fees.
			</li>
			<li>
				<strong>
					Lifecycle Efficiency
				</strong>:
				Designed for maintainability and longevity to avoid costly
				rebuilds and tech debt.
			</li>
		</ol>
		@cta("Let’s build smarter, faster, and greener")
	</section>
}

templ ourProcess() {
	<section aria-label="our development process" class="half-section">
		<h2 id="collab" class="section-header">
			Collaborative by Nature
		</h2>
		<h3 class="section-subheader">
			Where Design Meets Innovation
		</h3>
		<p class="section-paragraph">
			We don’t just build software. We partner with purpose-driven teams
			to create tools that reflect your mission and respect our planet.
		</p>
		<ol class="section-paragraph">
			<li>
				<strong>
					Listen First
				</strong>:
				We start by understanding your mission, audience, and your values.
			</li>
			<li>
				<strong>
					Build with Care
				</strong>:
				Agile development paired with carbon-aware workflows: clean
				code, efficient processes, minimal waste.
			</li>
			<li>
				<strong>
					Evolve Consciously
				</strong>:
				Launch faster, refine smarter, and design for longevity.
			</li>
		</ol>
	</section>
}

templ why() {
	<section aria-label="why collaborate with us" class="half-section">
		<h2 id="why" class="section-header">
			Why gavink?
		</h2>
		<h3 class="section-subheader">
			A Small Studio Focused on Big Impact
		</h3>
		<p class="section-paragraph">
			Based in Austin, Texas & Jakarta, Indonesia, we craft innovative
			tech while minimizing environmental harm.
		</p>
		<p class="section-paragraph font-bold">
			What guides us:
		</p>
		<ol class="section-paragraph">
			<li>
				<strong>
					A Dedicated Team
				</strong>:
				Our team will integrate with yours to understand your needs, no
				layers, just collaboration.
			</li>
			<li>
				<strong>
					Shared Values, Shared Purpose
				</strong>:
				We work with brands ready to make a difference.
			</li>
			<li>
				<strong>
					Mission Driven Engineering
				</strong>:
				We build efficient tools with minimal dependencies, through our
				waste aware practices.
			</li>
		</ol>
	</section>
}
