package views_nogl

templ sustainability() {
	<section id="sustainable-grid" class="p-4" aria-label="sustainability" data-animation-trigger="sustainability">
		<h2 id="sustainability" class="section-header sustainable-grid-title">Sustainability</h2>
		@whatSustainable()
		@virtualLCA()
		@whySustainable()
	</section>
}

templ whatSustainable() {
	<section class="p-4 sustainable-grid-item" aria-label="what is sustainable development?">
		<h3 class="section-subheader">
			What is Sustainable Software Development?
		</h3>
		<p class="section-paragraph">
			Sustainable Development is development that meets the needs of the
			present without compromising the ability of future generations to meet
			their own needs. In Software Engineering terms, Sustainable Development
			is a systems thinking approach to development that focuses on how an
			application and its parts affect the environment over time.
		</p>
		<p class="section-paragraph">
			We design all our applications with these principles in mind and hope
			to inspire our collaborators / stakeholders to consider the virtual
			life cycle assessment when designing software.
		</p>
	</section>
}

templ virtualLCA() {
	<section class="p-4 sustainable-grid-item" aria-label="life cycle assessment of software">
		<h3 class="section-subheader">
			What is the Life Cycle Assessment of a software product?
		</h3>
		<p class="section-paragraph">
			A Life Cycle Assessment (LCA), is the methodology for assessing the
			environmental impact associated with all the stages of a commercial
			product, process, or service. This takes into account the materials
			used to produce it, manufacturing, packaging, distribution, usage, &
			disposal.
		</p>
		<p class="section-paragraph" style="padding-bottom: 0;">
			With a digital product like a web application for example, it
			primarily uses energy in three key parts of its life cycle:
		</p>
		<ul class="section-paragraph pl-8 pb-4" style="list-style-type: circle; line-height: 180%;">
			<li>The creation, testing, launch, and maintenance of applications.</li>
			<li>The hosting and serving of applications.</li>
			<li>The download and interaction of users with applications.</li>
		</ul>
		<p class="section-paragraph" style="padding-bottom: 0;">
			Therefore a Virtual LCA would look something like this:
		</p>
		// graphic
		<ul class="section-paragraph pl-8" style="list-style-type: circle; line-height: 180%;">
			<li>Materials: Software and visual assets</li>
			<li>Manufacturing: Design and development</li>
			<li>Packaging: Uploaded to the internet</li>
			<li>Distribution: Downloaded through network</li>
			<li>Usage: Interaction, UX, completing tasks</li>
			<li>Disposal: Data erased from client</li>
		</ul>
	</section>
}

templ whySustainable() {
	<section class="p-4 sustainable-grid-item" aria-label="why sustainable development is important">
		<h3 class="section-subheader">
			Why Sustainable Software Development is important for stakeholders
			and our planet
		</h3>
		<p class="section-paragraph">
			Did you know if the internet was a country it would be the 5th largest
			producer of GHG in the world? It turns out that the digital medium
			isn’t as green as we think it is. The data centers that power the
			applications we enjoy produce tons of emissions.
		</p>
		<p class="section-paragraph">
			It’s important that we power our web applications with clean renewable
			energy and reduce energy use by building efficient software. Doing this
			is not only good for our planet, it’s good for your users and your
			bottom line.
		</p>
		<p class="section-paragraph" style="padding-bottom: 0;">
			When sustainable development principles are embraced you:
		</p>
		<ul class="section-paragraph pl-8" style="list-style-type: circle; line-height: 180%;">
			<li>Improve performance: via lean, fast loading pages</li>
			<li>Improve usability: Clear navigation and messaging</li>
			<li>Improve Search engine results: Easily crawled websites that drive traffic and deliver answers quickly</li>
			<li>Improve accessibility: Relevant content delivered quickly across platforms and devices</li>
			<li>Decreased environmental impact: Solutions powered by renewable energy</li>
			<li>Cost Savings: Via efficient applications that send less data to users</li>
		</ul>
	</section>
}
