.mistake {
	color: token("color.text.mistake");
	font-weight: 600;
}

.primary-text {
	color: token("color.text.primary");
}

.accent-text {
	color: token("color.text.accent");
}

.primary-bg {
    background-color: token("color.background.primary")
}

.accent-bg {
    background-color: token("color.background.accent")
}

.grid-col-1 {
    grid-column: 1;
}

.grid-col-2 {
    grid-column: 2;
}
