package scenes

templ SphereScene() {
	<section aria-label="hero">
		<h1 class="absolute">Crafting Digital Experiences with Purpose & Sustainability</h1>
		<home-scene>
			<div id="suspense"></div>
			<div id="three-home-scene"></div>
			<div id="three-home-space"></div>
		</home-scene>
	</section>
}
