package scenes

import "os"

templ SphereScene() {
	<section aria-label="hero">
		<h1 class="absolute top-[8.75rem] w-full text-center text-sm min-[950px]:top-24">Crafting Digital Experiences with Purpose & Sustainability</h1>
		<home-scene>
			<div id="suspense"></div>
			<div id="three-home-scene" environment-data={ string(os.Getenv("env")) }></div>
			//<div id="three-home-space"></div>
		</home-scene>
		//<h2 class="relative bottom-[8.75rem] w-full text-center text-sm">Crafting Digital Experiences with Purpose & Sustainability</h2>
	</section>
}
