package components

import (
"fmt"
"github.com/gavink97/gav-ink/internal/types"
)

templ CaseStudiesPanel(posts []*types.Post) {
	<panel id="case-studies-panel">
		for _, post := range posts {
			@CaseStudiesCard(*post)
		}
	</panel>
}

templ CaseStudiesCard(post types.Post) {
	<study-card class="study-card">

		<div
        aria-label={ post.Title }
        class="w-[inherit]"
        hx-get={ fmt.Sprint(post.Url, "?component=true") }
        preload="preload:init"
        hx-swap="innerHTML show:top"
        hx-target="#swap"
        hx-on:click="
            const options = {
                immediate: true
            }

            document.getElementById('swap').setAttribute('swap-active', 'true')
            window.lenis.scrollTo(0, options);
        "
        >
			// image, title, tags, date
			<h3 class="text-4xl pl-4">{ post.Title }</h3>
			<div class="inline-flex w-[inherit]">
				for _, tag := range post.Tags {
					<p class="px-4 font-bold">{ tag }</p>
					<p>•</p>
				}
				<p class="pl-4">{ post.LastModified.UTC().Format("January 02, 2006") }</p>
			</div>
		</div>
	</study-card>
}
