package components

import (
	"fmt"
	"github.com/gavink97/gav-ink/internal/types"
)

script SwapInStyle() {
    const options = {
        immediate: true
    }

    document.getElementById('home').classList.add('htmx-swapping')
    document.getElementById('swap').setAttribute('swap-active', 'true')

    setTimeout(() => {
        window.Lenis.scrollTo(0, options);
    }, 500)

    setTimeout(() => {
        document.getElementById('home').classList.remove('htmx-swapping')
    }, 1000)
}

templ CaseStudiesPanel(posts []*types.Post, gl bool) {
	<panel id="case-studies-panel">
		for _, post := range posts {
			if gl {
				@CaseStudiesCard(*post)
			} else {
				@CaseStudiesCardNoGL(*post)
			}
		}
	</panel>
}

templ CaseStudiesCard(post types.Post) {
	<study-card class="study-card">
		<div
			aria-label={ post.Title }
			class="w-[inherit]"
			hx-get={ fmt.Sprint(post.Url, "?component=true") }
			preload="preload:init"
			hx-swap="innerHTML show:top swap:0.5s settle:0.5s"
			hx-target="#swap"
			hx-on:click={ SwapInStyle() }
		>
			// image, title, tags, date
			<h3 class="text-4xl pl-4">{ post.Title }</h3>
			<div class="inline-flex w-[inherit]">
				for _, tag := range post.Tags {
					<p class="px-4 font-bold">{ tag }</p>
					<p>•</p>
				}
				<p class="pl-4">{ post.LastModified.UTC().Format("January 02, 2006") }</p>
			</div>
		</div>
	</study-card>
}

templ CaseStudiesCardNoGL(post types.Post) {
	<study-card class="study-card">
		<a
			aria-label={ post.Title }
			class="w-[inherit]"
			href={ templ.URL(post.Url) }
		>
			// image, title, tags, date
			<h3 class="text-4xl pl-4">{ post.Title }</h3>
			<div class="inline-flex w-[inherit]">
				for _, tag := range post.Tags {
					<p class="px-4 font-bold">{ tag }</p>
					<p>•</p>
				}
				<p class="pl-4">{ post.LastModified.UTC().Format("January 02, 2006") }</p>
			</div>
		</a>
	</study-card>
}
