package components

import (
	g "github.com/gavink97/gav-ink/internal/globals"
	m "github.com/gavink97/gav-ink/internal/middleware"
	"fmt"
)

templ MobileMenu() {
	<burger-menu>
		@mobileMenuIconSuspense()
		<div id="burger-menu-icon"></div>
		<script src="/public/svgs/mobilemenuicon.js" type="module" nonce={ m.GetNonce(ctx) } defer></script>
	</burger-menu>
}

templ mobileMenuIconSuspense() {
	<div id="placeholder" hx-get="/component/burger-modal" preload="preload:init">
		<svg width="36" height="36" xmlns="http://www.w3.org/2000/svg" style={ fmt.Sprintf("stroke: %s", g.DesignToken.Color.Background.Accent.Value) }>
			<line x1="0" y1="11" x2="36" y2="11"></line>
			<line x1="0" y1="18" x2="36" y2="18"></line>
			<line x1="0" y1="25" x2="36" y2="25"></line>
		</svg>
	</div>
}

// make on click animation / page exit animation
templ MobileMenuModal(gl bool) {
	<burger-modal id="burger-modal">
		<div class="modal-content">
			<a href="/#" aria-label="home" class="modal-item" data-section-hook="hero">Home</a>
			<a href="/#sustainable-grid" aria-label="sustainability" class="modal-item" data-section-hook="sustainability">Sustainability</a>
			<a href="/#services" aria-label="services" class="modal-item" data-section-hook="services">Services</a>
			<a href="/#tech" aria-label="technology" class="modal-item" data-section-hook="tech">Technology</a>
			<a href="/#story" aria-label="studio story" class="modal-item" data-section-hook="studio">Studio Story</a>
			<a href="/#studies" aria-label="insights" class="modal-item" data-section-hook="insights">Insights</a>
			if !gl {
				<a href="/contact" aria-label="contact us" class="modal-item" preload>Contact Us</a>
			} else {
				<p href="/contact?component=true" aria-label="contact us" class="modal-item" preload>Contact Us</p>
			}
			// socials
			<a href="https://github.com/gavink97" aria-label="github" class="modal-item-social">Github</a>
			<a href="https://www.instagram.com/gavin_kondrath/" aria-label="instagram" class="modal-item-social">Instagram</a>
			<a href="https://www.linkedin.com/in/gavin-kondrath/" aria-label="linkedin" class="modal-item-social">LinkedIn</a>
		</div>
	</burger-modal>
}
