package components

import m "github.com/gavink97/gav-ink/internal/middleware"

templ PageTransition(contents templ.Component) {
	<page-transition>
		<div id="placeholder" class="page-transition-suspense"></div>
		<div id="page-transition"></div>
		<script src="/public/effects/pagetransition.js" type="module" nonce={ m.GetNonce(ctx) }></script>
		<div id="content">
			@contents
		</div>
	</page-transition>
}
