package views

templ Contact() {
	<section class="full-section" aria-label="contact us">
		<h1 class="text-5xl md:text-7xl font-bold pb-4 text-center md:text-left w-full pl-4">Contact Us</h1>
		<p class="text-xl md:text-2xl w-full pl-4">
			Let's build something special together.
		</p>
		@contactUsForm()
		//<div id="toast" class="absolute"></div>
	</section>
}

templ contactUsForm() {
	<div class="w-full h-full text-xl md:text-2xl grid" style="grid-row: 2 / 6; grid-column: 1;">
		<form
			hx-post="/contact"
			hx-trigger="submit"
			hx-swap="outerHTML"
			hx-target="#contact-submit"
			class="grid gap-4"
			style="grid-row: 1 / span 4;"
			aria-label="contact us"
		>
			<div class="flex flex-col self-end" style="grid-row: 1; grid-column: 1;">
				<label for="name">Name</label>
				<input
					type="text"
					name="name"
					id="name"
					placeholder="Gavin Kondrath"
					required=""
					autocomplete="name"
					aria-label="name"
				/>
			</div>
			<div class="flex flex-col self-start" style="grid-row: 2; grid-column: 1;">
				<label for="email">Email</label>
				<input
					type="email"
					name="email"
					id="email"
					placeholder="gavin@gav.ink"
					required=""
					autocomplete="email"
					aria-label="email address"
				/>
			</div>
			<div class="flex flex-col self-center" style="grid-row: 2/4; grid-column: 1;">
				<label for="about">Project Details</label>
				<textarea
					name="about"
					id="about"
					placeholder="Briefly tell us what your project is about."
					rows="4"
					cols="50"
					class="w-full"
					style="resize: both;"
					aria-label="project details"
				></textarea>
			</div>
			<div class="flex flex-col self-end" style="grid-row: 3; grid-column: 1;">
				<label for="budget">Project Budget (USD)</label>
				<input
					type="text"
					name="budget"
					id="budget"
					placeholder="$80000"
					aria-label="project budget"
				/>
			</div>
			<button type="submit" aria-label="submit" id="contact-submit" style="grid-row: 4; grid-column: 1;" class="self-center">
				submit
			</button>
		</form>
	</div>
}

templ ContactSuccess() {
	<p>We'll be in touch shortly, Thanks.</p>
}

templ ContactUnsuccessful(text string) {
	<p>Could you please let us know your { text }? Thanks :)</p>
}

templ Contact2() {
	<section class="full-section-grid p-4" aria-label="contact us" data-animation-trigger="contact-page">
		<h1 class="text-5xl md:text-7xl font-bold text-center md:text-left w-full h-full content-end" style="grid-row: 1; grid-column: 1;">Contact Us</h1>
		<p class="text-xl md:text-2xl w-full h-full self-start" style="grid-row: 2; grid-column: 1;">
			Let's build something special together.
		</p>
		@contactUsForm()
		<div style="grid-column: 2;"></div>
	</section>
}
