package views

import (
	gh "github.com/gavink97/gav-ink/internal/github"
	m "github.com/gavink97/gav-ink/internal/middleware"
	"github.com/gavink97/gav-ink/internal/scenes"
)

templ Index() {
	<section id="swap" swap-active="false"></section>
	<section id="home" aria-label="home">
		@scenes.HomeScene()
		//@scenes.SphereScene()
		@sustainability()
		@Services2()
		@Tech()
		@CaseStudies()
		@About()
		@OpenSource([]gh.Repository{})
	</section>
	<script type="text/javascript" nonce={ m.GetNonce(ctx) } defer>
        document.body.addEventListener('htmx:afterSwap', () => {
            if (document.getElementById('swap').childElementCount > 0) {
                document.getElementById("home").style.display = "none";
            }
        });
    </script>
}

templ IndexNoGL() {
	@hero()
	@sustainability()
	@Services2()
	@Tech()
	@About()
	@OpenSource([]gh.Repository{})
	@CaseStudies()
}

templ hero() {
	<section class="full-section text-center primary-text" aria-label="hero">
		<h1 class="text-3xl md:text-8xl font-bold">Crafting Digital</h1>
		<h1 class="text-3xl md:text-8xl font-bold">Experiences</h1>
		<h2 class="text-2xl md:text-6xl">with Purpose</h2>
		<h1 class="text-3xl md:text-8xl font-bold">&</h1>
		<h2 class="text-2xl md:text-6xl">Sustainability</h2>
	</section>
}
