package views

import (
	gh "github.com/gavink97/gav-ink/internal/github"
	m "github.com/gavink97/gav-ink/internal/middleware"
	"github.com/gavink97/gav-ink/internal/scenes"
)

templ Index() {
	<section id="swap" swap-active="false"></section>
	<section id="home" aria-label="home">
		@scenes.HomeScene()
		@sustainability()
		@Services()
		@Tech()
		//@CaseStudies()
		@About()
		@OpenSource([]gh.Repository{})
	</section>
	<script type="text/javascript" nonce={ m.GetNonce(ctx) } defer>
        document.body.addEventListener('htmx:afterSwap', () => {
            if (document.getElementById('swap').childElementCount > 0) {
                document.getElementById("home").style.display = "none";
            }
        });
    </script>
}
