package views

templ NotFound() {
	<section class="full-section">
		<h1 class="title">404</h1>
		<h2 class="subtitle text-center">Looks like something's missing...</h2>
		<h2 class="subtitle text-center">
			If you believe this to be a mistake please <a
	href="mailto:tech@gav.ink"
	class="mistake"
>report</a> it with us.
		</h2>
	</section>
}
